<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: lightcyan;">

<a href="/"> Home </a> --
<a href="/addDepartment"> Add Department</a> --
<a href="/Departmentlist">All Departments</a> --
<a href="/addEmployee">Add Employees</a> --
<a href="/employeelist">All Employees</a>

<div class="container" style="background-color: deepskyblue">
    <div class="jumbotron text-center" style="background-color: lawngreen">
        <h1><b>Sterling Solutions, Inc.</b></h1>
    </div>
    <p><b>Employee Database</b></p>

</div>

<h2> Department List </h2>

<div th:each="department : ${departments}">
    <span th:text="${department.name}"></span>
</div>

</body>
</html>